<ul class="tabs nav nav-tabs"> 
	<li><%%= link_to "#{t("bootstrap-rails.list", :default => "List")}", <%= controller_routing_path %>_path  %></li>  
	<li class="active"><%%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path %></li>
</ul>
<h2 class="title"><%%= t("bootstrap-rails.new", :default => "New")%>  <%%= t("activerecord.models." + model_name) %></h2> 
<%%= semantic_form_for @<%= model_name.underscore  %> do |f| -%>
<%%= f.semantic_errors %>
  <%%= render :partial => "form", :locals => {:f => f} %>
<%% end -%>


<%% content_for :sidebar, render(:partial => 'sidebar') -%>
